/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700|Caveat:400,100,300,700,500");
$base-font: "Lato", "Helvetica", "sans-serif";
$header-font: "Caveat", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EC555C;
$blue: #199EC7;
$yellow: #FCB410;
$orange: #FFA75E;
$green: #92D690;
$gray: #ECEEF1;
$teal: #73A8AF;
$seafoam: #A0CAB5;
$sky: #7FC7E6;
