a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  transition-duration: 2s;
  color: $hover-gray;
}

.banner {
  text-align: center;
  height:60vh;
  background-color: $teal;
  // padding:30px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  // background-position: center;
  // background-image: linear-gradient(135deg, rgba(0, 90, 50, 0.3) 40%, rgba(0,0,0,0.3) 60%),
  // url('http://res.cloudinary.com/dmbf29/image/upload/v1492588671/shibuya_mqo0go.jpg');
  // background-attachment: fixed;
}
.banner-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-name-doug {
  position: relative;
}

.banner-name h1 {
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Caveat";
}

.banner-name-ribbon {
  // position: absolute;
  width: 230px;
  bottom: 0px;
}

.banner-title {
  font-size: 32px;
  padding-bottom: 20px;
}

.banner-title h3 {
  font-weight: lighter;
}

.banner-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-icon:hover {
  transition-duration: 0.5s;
  color: $yellow;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

.banner-icon a:hover {
  transition-duration: 1s;
  color: $yellow;
}

.banner-icons h5 {
  font-weight: lighter;
}

.projects-title-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:100px;
  background-color: $red;
  margin-top: 0px;
}

.projects-title-wrapper h2 {
  margin: 0px;
}

.gibbit-background {
  background-color: $seafoam;
}
.studio-background {
  background-color: $sky;
}
.skill-background {
  background-color: $yellow;
}
.title-background {
  background-color: $red;
}

.project-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 500px;
}

.skill-card {
  text-align: left;
  padding: 20px;
  height: 500px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

//

.project-card h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.2;
}
.card-content {
  letter-spacing: 1px;
  line-height: 37px;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.card-content p {
  margin-bottom: 0px;
}

.check-out-button {
  background-color: transparent;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid white;
}

.check-out-button:hover {
  transition-duration: 2s;
  border: 1px solid $hover-gray;
}

.picture-impact {
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494139752/dougmain_mzovpj.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.picture-dmm {
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494139752/dougdmm_gdxjru.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.picture-gibbit {
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494140993/gibbithomepage_o7vyv3.png) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.picture-gibbit:hover {
  transition-duration: 2s;
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494476921/gibbitdashboard.png) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.picture-studio {
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494149170/studoindexpage_vstefa.png) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.picture-studio:hover {
  transition-duration: 2s;
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494476922/studioshowpage.png) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.picture-presentation {
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494139753/gibbitpitch_nvtzoq.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.picture-tokyodev {
  padding: 0, 0, 0, 0;
  background: url(http://res.cloudinary.com/dmbf29/image/upload/v1494345206/tokyodev_sminfa.jpg
) top left no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

@media only screen and (max-width: 533px) {
     h1 { font-size: 45px !important; }
     h2 { font-size: 22px !important; }
     h3 { font-size: 20px !important; }
     h4 { font-size: 18px !important; }
     h5 { font-size: 16px !important; }
     p { font-size: 16px !important; }
   }





