.banner {
  text-align: center;
  height:50vh;
  background-color: $teal;
  // padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  // background-position: center;
  // background-image: linear-gradient(135deg, rgba(0, 90, 50, 0.3) 40%, rgba(0,0,0,0.3) 60%),
  // url('http://res.cloudinary.com/dmbf29/image/upload/v1492588671/shibuya_mqo0go.jpg');
  // background-attachment: fixed;
}

.banner-name h1 {
  font-size: 100px;
  margin-top: 0px;
  // padding: 50px;
}

.banner-title {
  font-size: 32px;
  // margin-top: 50px;
}

.banner-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.home-card-picture {
  // max-height: 500px;
  max-width: 100%;
}
