.project-section {
  height: 100%;
  color: $steel;
}
.videos-section {
  height: 100%;
  color: $steel;
  background-color: $pastel-green;
}

.video-title {
  font-family: "Caveat";
  font-weight: bolder;
  font-size: 2.2em;
  text-align: center
}

#video-iframe {
  width: 80%;
  min-height: 350px;
}

.project-info-title {
  font-family: "Caveat";
  font-weight: bolder;
  font-size: 2.2em;
}

.project-info-subtitle {
  font-weight: bolder;
}

.project-info-desc {
  font-weight: lighter;
}

.project-photos {
  height: 100%;
}

.project-photo {
  max-width: 100%;
  max-height: 400px;
}

.easy_label {
  background-color: $pastel-green;
}

.easy_rates {
  background-color: $pastel-orange;
}

.shopify_translator {
  background-color: $pastel-red;
}

.gibbit {
  background-color: $pastel-sky;
}

.dave_beck_music {
  background-color: $pastel-purple;
}

.studio_fifty_find {
  background-color: $pastel-blue;
}


