<div class="banner">
  <div class="banner-name">
    <h1>Douglas Berkley</h1>
  </div>
  <div class="banner-title">
    <h3>Full Stack Web Developer</h3>
    <h5>Tokyo, Japan</h5>
  </div>
  <div class="banner-icons">
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>Email</h5>
      </div>
    </div>
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-file-text-o" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>Resume</h5>
      </div>
    </div>
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-linkedin" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>LinkedIn</h5>
      </div>
    </div>
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-github" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>Github</h5>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-sm-6 no-gutters">
    <%= cl_image_tag("dougmain_e0m4ha.jpg", :height=>960, :width=>945, :crop=>"scale", class: "home-card-picture") %>
  </div>
  <div class="col-xs-12 col-sm-6 no-gutters">
    <%= cl_image_tag("v1493804207/dougdmm_vo7yry.jpg", class: "home-card-picture") %>
  </div>
    <div class="col-xs-12 col-sm-6 no-gutters">
    <%= cl_image_tag("v1493804207/dougdmm_vo7yry.jpg", class: "home-card-picture") %>
  </div>
    <div class="col-xs-12 col-sm-6 no-gutters">
    <%= cl_image_tag("dougmain_e0m4ha.jpg", :height=>960, :width=>945, :crop=>"scale", class: "home-card-picture") %>
  </div>
</div>
