<div class="banner">
  <div class="banner-name">
    <h3>Tidying up at the moment... <i class="fa fa-magic" aria-hidden="true"></i></h3>
  </div>
  <div class="banner-title">
    <h4>Check back soon!</h4>
    <h5>contact@douglasberkley.com</h5>
  </div>
 <!--  <div class="banner-icons">
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>Email</h5>
      </div>
    </div>
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-file-text-o" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>Resume</h5>
      </div>
    </div>
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-linkedin" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>LinkedIn</h5>
      </div>
    </div>
    <div class="banner-icon">
      <div class="banner-icon-pic">
        <p><i class="fa fa-github" aria-hidden="true"></i></p>
      </div>
      <div class="banner-icon-tile">
        <h5>Github</h5>
      </div>
    </div>
  </div> -->
</div>

<div class="col-xs-12 col-sm-6">

</div>

<div class="col-xs-12 col-sm-6">

</div>
